<div class="box promo" id="register-promo">
	<a href="#">
	<div class="inner">
		<h5>Regisztráljon!</h5>
		<ul>
			<li>&diams; Gyorsabb vásárlás &diams;</li>
			<li>&diams; Törzsvásárlói program &diams;</li>
			<li>&diams; Ajándéklista &diams;</li>
		</ul>
	</div>
	</a>
</div>