<section id="brand-wrap" class="box full">
	<div id="top">
		<%= image_tag "lazyboy.jpg", :title => "Lazyboy" %>
	</div>
	<p><span class="lead">Things have really evolved</span> since La-Z-Boy first introduced the recliner in 1928. Over the subsequent decades, our product line has grown to include a myriad of pieces and styles, and our brand name has become highly recognized across the country and around the globe. But throughout our history, one fact has remained constant: The La-Z-Boy brand name is synonymous with comfort and quality.</p>
</section>