<div id="summary-wrap">
	<div id="cart-summary">
		<div class="section">
			<h5>Order summary</h5>
			<p>Cart subtotal <span class="price"><span>12 990</span> Ft</span></p>
			<p>Shipping <span class="price"><span>2 990</span> Ft</span></p>
			<p class="total">Total <span class="price"><span>15 000</span> Ft</span></p>
		</div>
		<div class="section">
			<h5>Just ask</h5>
			<p class="phone">06-1-200-330</p>
			<a href="#">How do I do that?</a>
			<a href="#">What about shipping?</a>
			<a href="#">What about shipping?</a>
		</div>
	</div>
</div>