<section id="cart" class="box full">
	<table id="cart-table">
		<thead>
			<tr>
				<th colspan="2"><h3>Kosarad tartalma</h3></th>
				<th colspan="2"><p><a href="#">Login</a> or <a href="#">Register</a> for faster checkout!</p></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>
					
				</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td class="product-cell">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<div>
						<h6>Ottoman asztal</h6>
						<p><span class="property">anyag: </span>Bőr</p>	
						<p><span class="property">borítás: </span>Ón</p>
					</div>
				</td>
				<td class="discount-cell">
					Eligible for free shipping
				</td>
				<td class="price-cell">
					117 000 Ft + áfa
				</td>
				<td class="actions-cell">
					<input type="number" min='1' name="" id="" />
					<a class="delete" href="">x</a>
					<a href="#" class="update">update</a>
				</td>
			</tr>
			<tr>
				<td class="product-cell">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<div>
						<h6>Ottoman asztal</h6>
						<p><span class="property">anyag: </span>Bőr</p>	
						<p><span class="property">borítás: </span>Ón</p>
					</div>
				</td>
				<td class="discount-cell">
					Eligible for free shipping
				</td>
				<td class="price-cell">
					117 000 Ft + áfa
				</td>
				<td class="actions-cell">
					<input type="number" min='1' name="" id="" />
					<a class="delete" href="">x</a>
					<a href="#" class="update">update</a>
				</td>
			</tr>
		</tbody>
	</table>
</section>