<div id="guest-box">
	<h4>First time shopper?</h4>
	<p>Continue to checkout as<span class="lead"> guest</span>. After the order you will have the option to <span class="lead">register</span> using the data provided in the process.</p>
	<a href="/checkout/billing_shipping">Checkout</a>
</div>