<section id="checkout" class="box full clearfix">
	<h3 id="top">Billing &amp; Shipping <span id="secure">Secure connection</span></h3>
	<ol id="steps" class="clearfix">
		<li>Sign in</li>
		<li class="active">Billing &amp; Shipping</li>
		<li>Verify &amp; Payment</li>
	</ol>
	<%= render "cart/summary" %>
	<%= render "users/shipping" %>
</section>