<section id="checkout" class="box full clearfix">
	<h3 id="top">Verify &amp; Payment <span id="secure">Secure connection</span></h3>
	<ol id="steps" class="clearfix">
		<li>Sign in</li>
		<li>Billing &amp; Shipping</li>
		<li class="active">Verify &amp; Payment</li>
	</ol>
	<%= render "cart/summary" %>
	<%= render "payment_form"%>
</section>