<section id="checkout" class="box full clearfix">
	<h3 id="top">Checkout <span id="secure">Secure connection</span></h3>
	<ol id="steps" class="clearfix">
		<li class="active">Sign in</li>
		<li>Billing &amp; Shipping</li>
		<li>Verify &amp; Payment</li>
	</ol>
	<%= render :partial => "users/login", :locals => { :logintext => "to checkout with your saved info", :resource => resource } %>
	<%= render "guest" %>
</section>