<section id="checkout" class="box full clearfix thankyou">
	<h3>Thank you!</h3>
	<h4>your order has been succesful!</h4>
	<%= render "orders/order_table" %>
	<div class="promo">
		<p>Why don't you register with the data you just provided. Registered users get <em>special deals</em>, and <em>faster checkout</em>!</p>
		<a href="#">I wanna</a>
	</div>
</section>