<div id="register-cta-box">
	<h4>Register</h4>
	<p><span class="lead">by regsitering</span> your checkout process will be faster, and you will get special deals</p>
	<a href="/register" class="button blue">Register</a>
</div>