<% Category.all.each_with_index do |category, index| %>
	<li<%= is_active_category_with_index?(category.slug, index) %>>
		<%= link_to category.name, category_path(category) %>
		<ul class="sub right column-2">
			<div class="col1">
				<li><a href="#">Díszetett csecsebecs</a></li>
				<li><a href="#">Motoros rotoros csoda</a></li>
			</div>
			<div class="col1">
				<li><a href="#">Kék kis lámpa</a></li>
				<li><a href="#">Bőr kerek szögletes</a></li>
				<li><a href="#">Tevegyapjú</a></li>
			</div>
		</ul>
	</li>
<% end %>
