<% @category.custom_category_groups.each do |group| %>
<ul class="box">
	<h3><%= group.name %></h3>
	<% group.custom_categories.each do |custom_category| %>
	<li>
		<%= link_to custom_category.name, custom_category_path(@category, custom_category) %>
	</li>
	<% end %>
</ul>
	<% end %>

