<% Category.all.each_with_index do |category, index| %>
	<% category = category.translate %>
	<li<%= is_active_category_with_index?(category.slug, index) %>>
		<%= link_to category.name, category_path(category) %>
		<% if category.custom_categories.any? %>
			<ul class="sub <%= 'right ' if index > (Category.count - 4) %>column-3">
				<div class="col1">
					<% sub_categories = category.custom_categories  %>
					<% product_per_column = sub_categories.count / 3 if !sub_categories.blank? %>
					<% sub_categories.each_with_index do |sub_cat,i| %>
						<% if i == product_per_column || i == product_per_column * 2 %>
							</div>
							<div class="col1">
						<% end %>
						<li><%= link_to sub_cat.name, category_custom_category_path(category, sub_cat) %></li>
					<% end %>
				</div>
			</ul>
		<% end %>
	</li>
<% end %>
