<ul class="box">
	<h3>Shop by category</h3>
	<li><a href="#">Cat 1</a></li>
	<li><a href="#">Cat 2</a></li>
	<li><a href="#">Cat 3</a></li>
	<li><a href="#">Cat 4</a></li>
</ul>
<ul class="box">
	<h3>Shop by features</h3>
	<li><a href="#">Feat 1</a></li>
	<li><a href="#">Feat 2</a></li>
	<li><a href="#">Feat 3</a></li>
	<li><a href="#">Feat 4</a></li>
</ul>
<ul class="box">
	<h3>Shop by brand</h3>
	<li><a href="#">Brand 1</a></li>
	<li><a href="#">Brand 2</a></li>
</ul>
<ul class="box">
	<h3>A Flairspring ajánlja</h3>
	<li><a href="#">New</a></li>
	<li><a href="#">Sale</a></li>
</ul>


<!--<li class="level-1">
	<%= link_to @category.name, @category %>
	<% @category.custom_categories.each do |custom_category| %>
		<li class="level-2">
			<%= link_to custom_category.name, category_custom_category_path(@category, custom_category) %>
		</li>
	<% end %>
</li>-->
