<fieldset>
	<legend>Kedvezmények</legend>
	<div class="field"><label for="">Ingyenes szállítás</label><input type="checkbox" name="kedv" id="" /></div>
	<div class="field"><label for="">Ajándék jár hozzá</label><input type="checkbox" name="kedv" id="" /></div>
</fieldset>

<%= field_set_tag t('.designers') do %>
	<% Designer.all.each do |designer| %>
		<%= designer.name << ":" %>
		<%= check_box_tag designer.name, designer.id, true %>
		<br/>
	<% end %>
<% end %>
