<div id="newsletter-promo" class="half">
		<h3><%= t('.newsletter') %></h3>
		<em>iratkozzon fel <span>hírlevelünkre</span></em>
		<p>És megajándékozzuk egy <strong>2000 Ft </strong>értékű kuponnal</p>
		<a href="http://eepurl.com/jS0aD" id="newsletter-button">Feliratkozom</a>
	</div>
