<div id="newsletter-promo" class="half">
		<h3><%= t('.newsletter') %></h3>
		<em>sign up for our <span>newsletter</span></em>
		<p>And get <strong>10%</strong> off your first purchase</p>
		<a href="#" id="newsletter-button">Feliratkozom</a>
	</div>
