<div id="newsletter-promo" class="half">
		<h3><%= t('.newsletter') %></h3>
		<em>sign up for our <span>newsletter</span></em>
		<p>And get <strong>10%</strong> off your first purchase</p>
		<form action="" id="newsletter-form">
			<input type="email" name="newsletter-email" id="newsletter-email" placeholder="<%= t('.newsletter_email_placeholder') %>" />
			<input type="submit" value="<%= t('.newsletter_sign_up') %>" />
		</form>
	</div>
