<section id="product-modal-wrap">
<!-- keyboard léptetés -->
	<div id="product-modal">
		<a id="modal-prev" class="arrow left" href="#">Previous</a>
		<div class="clearfix">
			<div class="left">
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
				</a>
			</div>
			<div class="right">
				<div id="product-title">
					<h2>Okalami <span class="sku">123</span></h2>
					<%= image_tag "lz.png", :title => "title", :class => "class" %>
				</div>
				<div id="info-box">
					<div class="third price">
						<!-- price partial -->
					</div>
					<div class="third"></div>
					<div class="third last"></div>
				</div>
				<div id="properties-box">
					
				</div>
				<div id="short-description-box">
					
				</div>
			</div>
			<a href="#" class="button">Megnézem</a>
		</div>
		<a id="modal-next" class="arrow right" href="#">Next</a>	
	</div>
</section>
