<section id="product-modal-wrap">
<!-- keyboard léptetés -->
	<div id="product-modal">
		<a id="modal-prev" class="arrow left" href="#">Previous</a>
		<div class="clearfix">
			<!-- ide templatezi a js a kontentet> -->
		</div>
		<a id="modal-next" class="arrow right" href="#">Next</a>	
	</div>
</section>
