<div id="shops-promo" class="half">
	<h3>Nézzen be boltunkba!</h3>
	<!--<p><em>flairspring buda</em> H-P: 10-18 Szo-V: 12-16 <a href="http://www.googlemaps.com">1188 Budapest, Ady Endre utca 1</a> </p>-->
	<p><em>flairspring pest</em> <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a></p>
	<p>Nyitvatartás: H-P : 10-18, Szo-V : 10-16 </p>
	<p><a href="mailto:info@flairspring.hu">info@flairspring.hu</a></p>
	<p>+36-30-123-1234</p>
</div>

