<section id="about-wrap" class="box full">
	<h3>Rólunk</h3>
	<h4>Böngésszen kedvére, tekintse meg széles termékválasztékunkat!</h4>
	<p> <span class="lead">A Flairspringnél</span> azért dolgozunk, hogy ügyfeleink <b>stílusos, meleg otthont</b> tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni vásárlóinknak, ezért olyan amerikai világmárkák termékeit válogattuk össze, amelyek hosszú évtizedek óta <b>meghatározó szereplői a lakberendezési piacnak</b> és sikerüket termékeik minőségének, különleges funkcióinak és reális árainak köszönhetik.</p>

	<h3 class="marg">Milyen termékeket talál boltunkban?</h3>
	<p>
		<ul>
		<li>különleges funkciókkal bíró <strong>komfort foteleket</strong></li>
		<li>hagyományos, komfort funkciós, ággyá alakítható, moziszobába való <strong>ülőgarnitúrákat</strong></li>
		<li>több, mint <strong>400 keretezett tükröt</strong></li>
		<li>több, mint <strong>900 lámpát</strong></li>
		<li>több, mint <strong>1500 kisbútort és lakberendezési kiegészítőt</strong></li>
	</ul>
	</p>

	<p class="full">Természetesen tudjuk, hogy ekkora termékkínálatból nehéz kiválasztani azt, ami Önnek minden szempontból a legjobb. Ha <i>segítségre van szüksége</i>, látogasson el <a href="">boltunkba</a> és kérje bátran szakképzett lakberendező kollégáink segítségét, akik szívesen válaszolnak kérdéseire vagy kiválasztanak Önnek stílusos bútor-, kárpitanyag- és kiegészítőkombinációkat otthonába</p>

	<h3 class="marg">Állatvédelem</h3>
	<p><span class="lead">A Flairspring</span> egyik legfontosabb célja a magyarországi állatmenhelyek és az elhagyott állatok helyzetének javítása. Ennek első lépéseként Szabadság téri boltjának megnyitóján tombolasorsolást tartott, amelynek keretén belül értékes nyereményeket ajánlott fel, a megvásárolt tombolajegyek árát pedig felajánlotta a HEROSZ Budapesti Állatotthon lakóinak megsegítésére. A Flairspring a későbbiekben több hasonló felajánlással szeretné támogatni a hasonló szervezeteket.</p>
</section>

<div style="text-align:center;" class="box third first"><img src="http://www.placekitten.com/150/150" alt=""><p>Munkatárs 1</p></div>
<div style="text-align:center;" class="box third mid"><img src="http://www.placekitten.com/150/150" alt=""><p>Munkatárs 2</p></div>
<div style="text-align:center;" class="box third last"><img src="http://www.placekitten.com/150/150" alt=""><p>Munkatárs 3</p></div>