form{
	input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{
		border:1px solid $border-gray;
		height:20px;
		padding:2px;
		@include font-garamond;
	}

	label{
		color:#333;
		margin-bottom:10px !important;
		display:block;
	}

	input[type="submit"]{
		@include cta-submit;
		padding:4px;
	}

	a{
		font-size:12px;
		color:$link-color;
		@include transition-03s;
		&:hover{
			color:$link-color-hover;
		}
	}
	h5{
		color:$brand-orange;
		@include font-gill;
		margin-bottom:20px;
	}
	
	.half{
		float:left;
		margin-right:10px;
	}
	.block{
		padding:20px;
		background:rgba(228,228,228,0.3);
		margin-bottom:10px;
	}
	fieldset{
		margin-bottom:20px;
	}
}