@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline; }
  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote {
    &:before, &:after {
      content: "";
      content: none; } }
  q {
    &:before, &:after {
      content: "";
      content: none; } }
  table {
    border-collapse: collapse;
    border-spacing: 0; } }

@include meyer-reset;


$brand-darkblue: #3f5ea9;
$brand-lightblue: #1992c1;
$brand-orange: #e95321;
$brand-lightorange: #E89323;

$border-blue: #DDE8F5;

$border-gray: #E1E1E1;

$text-color:#575756;

@mixin transition-03s{
//	  -webkit-transition: all 0.3s ease;  /* Saf3.2+, Chrome */
//	     -moz-transition: all 0.3s ease;  /* FF4+ */
//	      -ms-transition: all 0.3s ease;  /* IE10 */
//	       -o-transition: all 0.3s ease;  /* Opera 10.5+ */
//	          transition: all 0.3s ease;
}

@mixin inline-block{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin orange-gradient{
	background: #e85322; /* Old browsers */
	background: -moz-linear-gradient(top,  #efbd49 0%, #ee7a48 10%, #e85322 90%, #efbd49 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efbd49), color-stop(10%,#ee7a48), color-stop(90%,#e85322), color-stop(100%,#efbd49)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efbd49 0%, #ee7a48 10%, #e85322 90%, #efbd49 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efbd49 0%, #ee7a48 10%, #e85322 90%, #efbd49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efbd49 0%, #ee7a48 10%, #e85322 90%, #efbd49 100%); /* IE10+ */
	background: linear-gradient(top,  #efbd49 0%, #ee7a48 10%, #e85322 90%, #efbd49 100%); /* W3C */
}

@mixin orange-gradient-hover{
	background: #ee7a48; /* Old browsers */
	background: -moz-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efbd49), color-stop(90%,#e85322), color-stop(100%,#efbd49)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* IE10+ */
	background: linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* W3C */
}

@mixin orange-gradient-active{
	background: #ee7a48; /* Old browsers */
	background: -moz-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efbd49), color-stop(10%,#e85322), color-stop(100%,#efbd49)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* IE10+ */
	background: linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* W3C */
}

@mixin blue-gradient{
	background: #1991c1; /* Old browsers */
	background: -moz-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #1991c1 90%, #72c3c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72c3c4), color-stop(10%,#64a5cd), color-stop(90%,#1991c1), color-stop(100%,#72c3c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #1991c1 90%, #72c3c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #1991c1 90%, #72c3c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #1991c1 90%, #72c3c4 100%); /* IE10+ */
	background: linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #1991c1 90%, #72c3c4 100%); /* W3C */
}

@mixin blue-gradient-hover{
	background: #72c3c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #72c3c4 0%, #64a5cd 90%, #72c3c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72c3c4), color-stop(90%,#64a5cd), color-stop(100%,#72c3c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72c3c4 0%, #64a5cd 90%, #72c3c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72c3c4 0%, #64a5cd 90%, #72c3c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72c3c4 0%, #64a5cd 90%, #72c3c4 100%); /* IE10+ */
	background: linear-gradient(top,  #72c3c4 0%, #64a5cd 90%, #72c3c4 100%); /* W3C */
}

@mixin blue-gradient-active{
	background: #72c3c4; /* Old browsers */
	background: -moz-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #72c3c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72c3c4), color-stop(10%,#64a5cd), color-stop(100%,#72c3c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #72c3c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #72c3c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #72c3c4 100%); /* IE10+ */
	background: linear-gradient(top,  #72c3c4 0%, #64a5cd 10%, #72c3c4 100%); /* W3C */
}

@mixin gray-gradient{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #c2c2c2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#c2c2c2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%, #c2c2c2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%, #c2c2c2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%, #c2c2c2 100%); /* IE10+ */
	background: linear-gradient(top,  #fff 0%, #c2c2c2 100%); /* W3C */
}

@mixin gray-gradient-hover{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #DDE8F4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#DDE8F4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff 0%, #DDE8F4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff 0%, #DDE8F4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff 0%, #DDE8F4 100%); /* IE10+ */
	background: linear-gradient(top,  #fff 0%, #DDE8F4 100%); /* W3C */
}

@mixin gray-gradient-active{
	background: #DDE8F4; /* Old browsers */
	background: -moz-linear-gradient(top,  #DDE8F4 0%, #fff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DDE8F4), color-stop(100%,#fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #DDE8F4 0%, #fff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #DDE8F4 0%, #fff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #DDE8F4 0%, #fff 100%); /* IE10+ */
	background: linear-gradient(top,  #DDE8F4 0%, #fff 100%); /* W3C */
}



@mixin small-caps{
	font-family: 'Alegreya SC';
	text-transform:lowercase;
}

@mixin box-rgba($r: 60, $g: 3, $b: 12, $opacity: 0.23, $color: #3C3C3C) {
  background-color: transparent;
  background-color: rgba($r, $g, $b, $opacity);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr#$color,endColorstr=$color);
            zoom:   1;
}

@mixin border-radius($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

@mixin search-gradient {
	@include background-gradient(#fefefe,#ececec);
}

@mixin cart-button{
	background:url(cart-button-orange.png) no-repeat 5px center	#efc048; /* Old browsers */
	background: url(cart-button-orange.png) no-repeat 5px center, -moz-linear-gradient(top,  #efc048 0%, #e95321 10%, #ef7a48 90%, #efbf48 100%); /* FF3.6+ */
	background: url(cart-button-orange.png) no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc048), color-stop(10%,#e95321), color-stop(90%,#ef7a48), color-stop(100%,#efbf48)); /* Chrome,Safari4+ */
	background: url(cart-button-orange.png) no-repeat 5px center, -webkit-linear-gradient(top,  #efc048 0%,#e95321 10%,#ef7a48 90%,#efbf48 100%); /* Chrome10+,Safari5.1+ */
	background: url(cart-button-orange.png) no-repeat 5px center, -o-linear-gradient(top,  #efc048 0%,#e95321 10%,#ef7a48 90%,#efbf48 100%); /* Opera 11.10+ */
	background: url(cart-button-orange.png) no-repeat 5px center, -ms-linear-gradient(top,  #efc048 0%,#e95321 10%,#ef7a48 90%,#efbf48 100%); /* IE10+ */
	background: url(cart-button-orange.png) no-repeat 5px center, linear-gradient(top,  #efc048 0%,#e95321 10%,#ef7a48 90%,#efbf48 100%); /* W3C */
	border:1px solid #E95321;
	color:white;
	@include font-gill;
	cursor:pointer;
	@include transition-03s;
	@include border-radius(3px,3px,3px,3px);
	text-decoration:none;
	text-transform:uppercase;
	&:hover,&:focus{
		background:url(cart-button-orange.png) no-repeat 5px center #efbd49; /* Old browsers */
		background:url(cart-button-orange.png) no-repeat 5px center, -moz-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* FF3.6+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efbd49), color-stop(90%,#e85322), color-stop(100%,#efbd49)); /* Chrome,Safari4+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -webkit-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* Chrome10+,Safari5.1+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -o-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* Opera 11.10+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -ms-linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* IE10+ */
		background:url(cart-button-orange.png) no-repeat 5px center, linear-gradient(top,  #efbd49 0%, #e85322 90%, #efbd49 100%); /* W3C */
	}
	&:active{
		background:url(cart-button-orange.png) no-repeat 5px center #efbd49; /* Old browsers */
		background:url(cart-button-orange.png) no-repeat 5px center, -moz-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* FF3.6+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efbd49), color-stop(10%,#e85322), color-stop(100%,#efbd49)); /* Chrome,Safari4+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -webkit-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* Chrome10+,Safari5.1+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -o-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* Opera 11.10+ */
		background:url(cart-button-orange.png) no-repeat 5px center, -ms-linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* IE10+ */
		background:url(cart-button-orange.png) no-repeat 5px center, linear-gradient(top,  #efbd49 0%, #e85322 10%, #efbd49 100%); /* W3C */
	}
}


@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
}

@mixin text-shadow($h: $horizontal_offset, $v: $vertical_offset, $c: $shadow_color, $b: $blur_radius) {
  $value: $h $v $b $c;
  -moz-text-shadow: $value;
  -webkit-text-shadow: $value;
  -o-text-shadow: $value;
  text-shadow: $value;
}

@mixin font-gill {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

@mixin font-garamond{
	font-family: 'Alegreya',Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

@mixin box-shadow{	
  -webkit-box-shadow: 4px 3px 5px rgba(0,0,0,0.4); 
     -moz-box-shadow: 4px 3px 5px rgba(0,0,0,0.4); 
          box-shadow: 4px 3px 5px rgba(0,0,0,0.4); 
}

@mixin text-input{
	border:1px solid #c2c2c2;
	margin:0;
	padding:0 2px;
	@include border-radius(3px,3px,3px,3px);
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

@mixin button{
		margin:0;
		padding:0;
		border:none;
		font-size: 14px;
		padding: 10px 20px;
		letter-spacing:1px;
		@include border-radius(3px,3px,3px,3px);
		@include font-gill;
		text-transform:uppercase;
		text-decoration:none;
}

@mixin orange-button{
	@include button;
	color: #fff;
	border: 1px solid #e85322;
	text-shadow:
		-1px -1px 0px rgba(140,067,018,0.4),
		1px 1px 0px rgba(255,255,255,0.3);
	@include orange-gradient;
	
	&:hover,&:focus{
		@include orange-gradient-hover;
		border: 1px solid #ee7a48;
	}
	&:active{
		@include orange-gradient-active;
		border: 1px solid #ee7a48;
		}
}

@mixin blue-button{
	@include button;
	color:#fff;
	border:1px solid #1991BF;
	text-shadow:
		-1px -1px 0px rgba(072,087,181,0.4),
		1px 1px 0px rgba(255,255,255,0.3);
	@include blue-gradient;
	
	&:hover,&:focus{
		@include blue-gradient-hover;
		border:1px solid #1990bf;
	}
	&:active{
		@include blue-gradient-active;
		border:1px solid #1990bf;
	}
}

@mixin gray-button{
	@include button;
	color:#585857;
	border:1px solid #a2a1a1;
	@include gray-gradient;
	
	&:hover,&:focus{
		@include gray-gradient-hover;
		border:1px solid #93bcdb;
	}
	
	&:active,&.active{
		@include gray-gradient-active;
		border:1px solid #a2a1a1;
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */