.no-touch .quicklook{
	top:-25px;
}

.touch .quicklook{
	top:0px;
}

.product{
	margin:10px 50px 25px 0px;
	position:relative;
	overflow:hidden;
	&.last{
		margin:10px 0px 25px 0px;
	}
	.quicklook{
		position:absolute;
		z-index:1;
		color:white;
		@include font-gill;
		width:155px;
		height:25px;
		padding-left:10px;
		line-height:25px;
		font-size:15px;
		text-transform:uppercase;
		display:block;
		background-image:url(quicklook.png);
		background-repeat:no-repeat;
		background-position:130px center;
		@include box-rgba(0,0,0,0.6);
		text-decoration:none;
		@include transition-03s;
	}
	&:hover .quicklook{
		top:0px;
	}
}


@import '_product_list_common';
@import '_product_modal';