.slider{
	padding:20px;
	@include box-shadow;
	background:white;
	margin-top:20px;
	.slider-inner{
		overflow: scroll;
		overflow-y: hidden !important;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		padding-bottom:30px;
	}
	li{
		display:-moz-inline-stack;
		display:inline-block;
		zoom:1;
		*display:inline;
		text-align:center;
	}
	&.full{
			img{
				width:110px;
				height:110px;
			}
			li{
				width:120px;
				margin-right:20px;
				overflow:hidden;
			}
			&.big{
				img{
					
					width:155px;
					height:155px;
				}
				li{
					width:175px;
					margin-right:40px;
					overflow:hidden;
				}
			}
	}
	.carousel{
		float:left;
		overflow:hidden;
		li{
			a{
				text-align:center;
				@include font-gill;
				text-decoration:none;
				.name{
					text-decoration:underline;
					color:$brand-lightblue;
					@include transition-03s;
					margin-bottom:5px;
				}
				&:hover .name{
					color:$brand-darkblue;
				}
				.price{
					font-size:13px;
					font-weight:bold;
					color:#3C3C3C;
				}
				.current-price{
					color:$brand-orange;
				}
				.old-price{
					color:#3c3c3c;
					text-decoration:line-through;
					font-weight:normal;
					font-size:11px;
				}
			}
		}
	}
	.arrow{
		float:right;
		margin-top:-5px;
	}
	.arrow.left{
		margin-right:15px;
	}
	h3{
		color:$brand-darkblue;
		margin-bottom:25px;
		font-size:18px;
		font-weight:bold;
		text-transform:uppercase;
		@include font-gill;
	}
	img{
		
	}
	&.half{
		float:left;
		width:430px; /*470 - 40px padding*/
		&.first{
			margin-right:20px;
		}
		img{
			margin:0 5px;
			width:50px;
			height:50px;
		}
		li{
			width:70px;
			overflow:hidden;
			margin-right:20px;
		}
	}
}

.no-touch .slider-inner{
	overflow:hidden;
}