/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

input::-moz-focus-inner,button::-moz-focus-inner{ 
    border: 0;
    padding: 0;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #C2E3FC; color: #fff; text-shadow: none; }
::selection { background: #C2E3FC; color: #fff; text-shadow: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
}

@import '_mixins.css.scss';

p .lead{
	@include small-caps;
	font-size:17px;
}

em{
	font-style:normal;
}

small{
	font-size:12px !important;
}

html{
	width:100%;
	height:100%;
	@include font-garamond;
	background: url(bg.jpg) repeat;
	color:$text-color;
}

p a{
	color:$brand-lightblue;
	@include transition-03s;
	&:hover{
		color:$brand-darkblue;
	}
}


.arrow{
	width:30px;
	height:30px;
	float:left;
	background:url(arrows.png);
	&.left{
		background-position:0 0;
		.no-touch &:hover{
			background-position:61px 0;
		}
		&:active{
			background-position:30px 0;
		}
	}
	&.right{
		float:right;
		background-position:0 31px;
		.no-touch &:hover{
			background-position:61px 31px;
		}
		&:active{
			background-position:30px 31px;
		}
	}
}

#main-header{
	width:100%;
}

#header-wrapper{
	
}

#misc-menu {
	width:100%;
	@include background-gradient(#92BBDA,#63A6CE);
    -webkit-box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	border-top: 1px solid #A7A7A7;
	height: 20px;
	.main-ul {
		padding-left:252px;
		height: 20px;
		width: 728px;
		margin: 0 auto;
		overflow: hidden;
		li {
			padding:0 10px;
			@include font-gill;
			font-size: 12px;
			color: #fff;
			height: 20px;
			line-height: 20px;
			float: right;
			&.first{
				float: left;
				margin-left:5px;
			}
			a{
				text-decoration:none;
				color:white;
				&:hover {
					color:$brand-darkblue;
				}
			}
		}
	}
}

#header-wrapper{
	width:960px;
	margin:0 auto;
}

#language-selector{
	li{
		float:left;
		text-indent:-9999em;
		padding:0 5px !important;
	}
	li a{
		display:block;
		width:16px;
		height:11px;
		margin-top:4px;
		opacity:0.7;
		@include transition-03s;
	}
	li.active a{
		opacity:1;
	}
	li.hu a{
		background:url(flags/hu.png) no-repeat;
	}
	li.en a{
		background:url(flags/gb.png) no-repeat;
	}
	li a:hover{
		opacity:1;
	}
}

#logo{
	float:left;
	background-image: url(logo.png);
	width:250px;
	height:120px;
	margin-top:-20px;
	z-index:3;
	text-indent:-99999px;
	margin-bottom:20px;
}

.helptext{
	float:left;
	padding:20px;
	font-size:16px;
	color:$text-color;
	em{
		font-style:italic;
	}
	.lead{
		@include small-caps;
		font-size:19px;
	}
	.telephone{
		margin:10px 0;
		display:block;
		font-size:30px;
		font-weight:bold;
		font-style:italic;
		letter-spacing:2px;
	}
}

#minicart-wrapper{
	position:relative;
	float:right;
	margin-top:20px;
	margin-left:10px;
	@include search-gradient;
	@include border-radius(3px,3px,3px,3px);
	border:1px solid #c2c2c2;
	padding:5px 5px 5px 5px;
	&:hover,&:focus{
		background:white;
		#minicart{
			display:block;
		}
	}
	a.minicart{
		padding-top:27px;
		background: url(cart-icon.png) center 0 no-repeat;
		display:block;
		@include font-gill;
		color:$brand-darkblue;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		display:block;
		text-align:center;
		&.empty{
			color:$text-color;
			background: url(cart-icon-gray.png) center -5px no-repeat;
		}
	}
}

#minicart{
	@include box-shadow;
	display:none;
	padding:10px;
	width:420px;
	position:absolute;
	right:-8px;
	margin-top:0px;
	z-index:4;
	background:white;
	border:1px solid $border-gray;
	
	table{
		width:99.9%;
		border:1px solid $border-gray;
	}
	
	tr{
		border-bottom:1px solid $border-gray;
		border-right:1px solid $border-gray;
		td{
			padding:10px;
			vertical-align:middle;
		}
		img{
			float:left;
			width:50px;
			height:50px;
			border:1px solid $border-gray;
		}
		.title{
			@include font-gill;
			color: $brand-darkblue;
			margin-left:5px;
			margin-top:5px;
		}
		.property-cell span{
			display:block;
			@include small-caps;
			font-size:14px;
		}
		.quantity-cell,.price-cell{
			@include font-gill;
		}
		.total-price{
			margin-left:25px;			
			color:$brand-orange;
		}
	}
	.total{
		font-size:18px;
		@include font-gill;
		text-align:right;
		td{
			padding-right:20px;
		}
	}
	a{
		float:right;
		margin-top:10px;
		&.button{
			@include blue-button;
			margin-left:10px;
			float:right;
			font-size:16px;
		}
	}
}

#search-wrapper{
	float:right;
	margin-top:20px;
}

#search-form{
	@include search-gradient;
	@include border-radius(3px,3px,3px,3px);
	padding:10px;
	border:1px solid #c2c2c2;
	width:280px;
	height:30px;
	line-height:30px;
	input[type="search"]{
		@include text-input;
		height:28px;
		width:185px;
		float:left;
		font-size:16px;
	}
	input[type="submit"]{
		@include orange-button;
		font-size:12px;
		height:29px;
		padding:0 9px;
		float:right;
		opacity:1;
	}
}

#search-examples{
	margin-top:5px;
	font-style:italic;
	font-size:18px;
	a{
		color:$brand-lightblue;
		&:hover{
			color:$brand-darkblue;
		}
	}
}

#main-nav{
	clear:both;
	width:100%;
	height:55px;
	ul{
		@include box-shadow;
		@include background-gradient(#6879C1, #425DB0);
		li{
			height:50px;
			line-height:50px;
			padding:0 10px;
			float:left;
			border-left:1px solid #42579E;
			border-right:1px solid #6F80C0;
			position:relative;
			@include transition-03s;
			&.first{
				border-left:none;
			}
			&.last{
				border-right:none;
			}
			&.active{
				@include background-gradient(#94BADC, #68A4D1);
			}
			&:hover,&:focus{
				background:white;
				a{
						color:$brand-darkblue;
				}
			}
			&:hover .sub,&:focus .sub{
				left:-1px;
			}
			&:hover .sub.right,	&:focus .sub.right{
				right:-1px;
				left:auto;
			}
			&:hover .sub a, &:focus .sub a{
				text-shadow:none;
			}
			a{
				display:block;
				color:white;
				@include font-gill;
				font-size:14px;
				text-decoration:none;
				@include transition-03s;
				text-transform:uppercase;
			}
		}
	}
	ul.sub{
		&.right{
			float:right;  
		    margin-right:0px;
		}
		z-index:100;
		position:absolute;
		left:-999em;
		background:white;
		border:1px solid #c2c2c2;
		border-top:none;
		padding:10px;
		width:525px;
		div.column{
			width:175px;
			float:left;
		}
		h5{
			color:$text-color;
			font-size:14px;
			@include small-caps;
			margin-bottom:16px;
			line-height:1.5;
			width:160px;
		}
		li{
			display:block;
			float:none;
			border:none;
			margin:0;
			padding:0;
			height:25px;
			margin:5px 0;
			line-height:1;
			a{
				@include font-garamond;
				font-size:14px;
				text-transform:none;
				font-variant:normal;
				color:$brand-lightblue;
				@include transition-03s;
				&:hover{
					color:$brand-darkblue;
				}
			}
			&.fix{
				a{
					color:$brand-orange;
					@include transition-03s;
					&:hover,&:active{
						color: $brand-lightorange;
					}
				}
			}
		}
	}
}

#breadcrumb{
	p{
		float:left;
	}
	font-size:15px;
	a{
		font-size:13px;
		color:$text-color;
		@include transition-03s;
		&:hover{
			color:black;
		}
	}
	.home{
		text-indent:-9999em;
		display:block;
		float:left;
		margin-right:5px;
		margin-top:-1px;
		background:url(breadcrumb-home.png) no-repeat;
		width:17px;
		height:18px;
	}
	margin:10px 0;
}

#site-title{
	float:right;
	color:$text-color;
	margin:0;
	font-size: 22px;
	font-style: italic;
	font-weight: normal;
}

#main-wrap{
	width:960px;
	margin:0 auto;
}

#product-box{
	padding:0;
}

.box{
	h2,h3,h4{
		font-weight:bold;
		text-transform:uppercase;
		@include font-gill;
	}
	h3{
		color:$brand-darkblue;
		margin-bottom:25px;
		font-size:18px;
	}
	h4{
		font-size:16px;
		margin-top:-20px;
		color:$brand-orange;
		@include font-garamond;
		text-transform:none;
		font-weight:normal;
	}
	p{
		line-height:1.5;
		img{
			float:right;
			margin:10px;
		}
	}
	em{
		color:$brand-orange;
		font-style:italic;
	}
	@include box-shadow;
	background:white;
	padding:0;
	margin-top:20px;
	&.third{
		width:270px;
		float:left;
		margin:20px 20px 0px 0px;
		padding:20px;
		&.mid{
			width:260px;
		}
		&.last{
			margin-right:0px;
		}
		&.has-ribbon{
			position:relative;
			.ribbon{
				width:50px;
				height:75px;
				position:absolute;
				right:0;
				top:-10px;
			}
		}
	}
	&.full{
		margin-top:20px;
		padding:20px;
	}
	
	&.half{
		width:430px;
		float:left;
		margin-right:10px;
		padding:20px;
	}
}

#social-promo{
	a{
		color:$brand-lightblue;
		@include transition-03s;
		&:hover{
			color:$brand-darkblue;
		}
	}
	input[type="submit"]{
		@include orange-button;
		font-size:12px;
		padding:5px 9px;
		vertical-align:top;
	}
	input[type="email"]{
		@include text-input;
		height:20px;
		font-size:16px;
		padding:2px;
	}
	width:960px;
	padding:40px 0;
	background: url(ampersand-big.png) no-repeat center -40px;
	margin:0 auto;
	overflow:hidden;
	p{
		line-height:1.2;
		font-size:16px;
		margin:10px 0;
		strong{
			color:$brand-orange;
			font-weight:bold;
		}
	}
	em{
		font-size:20px;
		@include small-caps;
		display:block;
		span{
			font-variant:normal;
			font-style:italic;
			@include font-garamond;
		}
	}
	.half{
		width:480px;
		float:left;
		text-align:center;
	}
	h3{
		text-transform:uppercase;
		color:$brand-orange;
		font-size:20px;
		@include font-gill;
		font-weight:bold;
		margin-bottom:25px;
	}
	.twitter{
		background: url(twitter.png) no-repeat left center;
		padding-left:20px;
		margin:0 5px;
	}
	
	.facebook{
		background: url(facebook.png) no-repeat left center;
		padding-left:20px;
		margin:0 5px;
	}
	
	.blog{
		background: url(feed.png) no-repeat left center;
		padding-left:20px;
		margin:0 5px;
	}
}

#contact-promo{
	.half{
		width:160px;
		padding-right:80px;
		&.left{
			padding-right:0;
			padding-left:80px;
		}
	}
	em{
		margin-bottom:5px;
	}
	p a{
		display:block;
	}
}

label.error{
	color:red;
	display:block;
	padding:5px 0;
}

.hr{
	width:100%;
	height:16px;
	background: url(separator.png) no-repeat center;
	margin:25px 0;
}

#main-footer{
	border-top:2px solid $brand-orange;
	background:#62a6cd;
	width:100%;
}

#main-footer-inner{
	padding-bottom:15px;
	width:958px;
	margin:0 auto;
	overflow:hidden;
	border-left:1px solid #92bbdb;
	div{
		border-left:1px solid #1992bf;
		border-right:1px solid #92bbdb;
		width:256px;
		float:left;
		padding:20px 30px;
		&.last{
			border-right:none;			
		}
		h3{
			@include font-gill;
			font-weight:bold;
			color:white;
			font-size:18px;
			text-transform:uppercase;
		}
		ul{
			display:block;
			float:left;
			margin:15px 15px 15px 0px;
			li{
				line-height:1.2;
				a{
					text-decoration:none;
					color:white;
					&.level-1{
						@include small-caps;
					}
					&:hover{
						color:$brand-darkblue;
					}
				}
			}
		}
	}
}

@import "_product_list_common.css.scss";

#simplemodal-overlay {background-color:#000;}

#simplemodal-container a.modalCloseImg {
	background:url(x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#simplemodal-container{
	background:white;
	padding:20px;
}

.box.promo{
	padding:10px;
	margin:20px 10px;
	float:left;
	position:relative;
	.ribbon-start{
		float:left;
		height:35px;
		width:11px;
		background:url(ribbon-start.png) no-repeat;
	}
	.ribbon-end{
		float:left;
		height:30px;
		width:11px;
		background:url(ribbon-end.png) no-repeat;
	}
	.ribbon{
		
		height:35px;
		position:absolute;
		left:-11px;
		top:20px;
		p{
			float:left;
			background:$brand-orange;
			@include font-gill;
			color:white;
			text-transform:uppercase;
			height:30px;
			line-height:30px;
			padding:0 5px;
			
		}
	}
}

#twitter{
	background:url(bg-tw.png) no-repeat;
	padding:0;
	padding:20px;
	width:270px;
	height:135px;
	h3,h4{
		color:white;
	}
	h4{
		margin-bottom:45px;
	}
	iframe{
		display:block;
		margin:10px 0;
	}
}

#facebook{
	padding:0;
	background:url(bg-f.png) no-repeat;
	padding:0;
	padding:20px;
	width:270px;
	height:135px;
	h3,h4{
		color:white;
	}
	h4{
		margin-bottom:65px;
	}
}

@import "_sliders.css.scss";


#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #aaa;
	background-color: white;
	padding: 10px;
	opacity: 0.85;
	color:$text-color;
	font-weight:normal;
	font-size:13px;
	line-height:1.5;
}
#tooltip h3, #tooltip div { margin: 0; }