/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  body {
    line-height: 1; }
  ol, ul {
    list-style: none; }
  blockquote, q {
    quotes: none; }
  blockquote {
    &:before, &:after {
      content: "";
      content: none; } }
  q {
    &:before, &:after {
      content: "";
      content: none; } }
  table {
    border-collapse: collapse;
    border-spacing: 0; } }

@include meyer-reset;

input::-moz-focus-inner,button::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}

@import '_mixins.css.scss';



p a{
	color:$link-color;
}

p .lead{
	font-variant:small-caps;
}

html{
	width:100%;
	height:100%;
	@include font-garamond;
	background: url(bg.png) repeat;
	color:#3c3c3c;
}


.arrow{
	width:30px;
	height:30px;
	float:left;
	background:url(arrows.png);
	&.left{
		background-position:0 0;
		.no-touch &:hover{
			background-position:61px 0;
		}
		&:active{
			background-position:30px 0;
		}
	}
	&.right{
		float:right;
		background-position:0 31px;
		.no-touch &:hover{
			background-position:61px 31px;
		}
		&:active{
			background-position:30px 31px;
		}
	}
}

#main-header{
	width:100%;
}

#header-wrapper{
	
}

#misc-menu {
	width:100%;
	@include background-gradient(#92BBDA,#63A6CE);
    -webkit-box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	box-shadow: 0 10px 24px 10px rgba(0,0,0,0.1);
	border-top: 1px solid #A7A7A7;
	height: 20px;
	ul {
		padding-left:252px;
		height: 20px;
		width: 728px;
		margin: 0 auto;
		overflow: hidden;
		li {
			padding:0 10px;
			@include font-gill;
			font-size: 12px;
			color: #fff;
			height: 20px;
			line-height: 20px;
			float: right;
			&.first{
				float: left;
				margin-left:5px;
			}
			a{
				text-decoration:none;
				color:#fff;
				@include transition-03s;
				&:hover {
					@include text-shadow(0,0,#333,3px);
				}
			}
		}
	}
}

#header-wrapper{
	width:960px;
	margin:0 auto;
}

#logo{
	float:left;
	background-image: url(logo.png);
	width:250px;
	height:120px;
	margin-top:-20px;
	z-index:3;
	text-indent:-99999px;
	margin-bottom:20px;
}

#minicart-wrapper{
	position:relative;
	float:right;
	margin-top:20px;
	margin-left:10px;
	@include search-gradient;
	@include border-radius(3px,3px,3px,3px);
	border:1px solid #c2c2c2;
	padding:5px 5px 5px 5px;
	&:hover{
		background:white;
		@include border-radius(3px,3px,0px,0px);
		border-bottom:none;
		#minicart{
			display:block;
		}
	}
	a.minicart{
		padding-top:27px;
		background: url(cart-icon.png) center -5px no-repeat;
		display:block;
		@include font-gill;
		color:#3C3C3C;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		display:block;
		text-align:center;
	}
	.counter{
		display:block;
		width:16px;
		height:16px;
		@include border-radius(16px,16px,16px,16px);
		border: 1px solid black;
		font-size:12px;
		@include font-gill;
		font-weight:bold;
		text-align:center;
		line-height:16px;
		background:white;
		color:$orange;
		position:absolute;
		right:5px;
	}
}

#minicart{
	display:none;
	padding:25px;
	width:400px;
	position:absolute;
	right:-8px;
	margin-top:0px;
	z-index:4;
	background:white;
	border:1px solid $border-gray;
	@include border-radius(3px, 3px, 3px, 3px);
	@include transition-03s;
	@include box-shadow;
	.row{
		overflow:hidden;
		border-bottom:1px solid $border-gray;
		padding:10px;
		&.total{
			border-bottom:none;
			padding-left:70px;
			font-size:16px;
			@include font-gill;
			text-transform:uppercase;
			.total-price{
				text-transform:none;				
				float:right;
				color:$orange;
			}
		}
		img{
			float:left;
			width:50px;
			height:50px;
			border:1px solid $border-gray;
		}
		span{
			display:block;
		}
		.data{
			margin-left:10px;
			float:left;
			.title{
				text-transform:uppercase;
				@include font-gill;
				font-size:14px;
				font-weight:bold;
				display:block;
			}
		}
		.price{
			float:right;
		}
	}
	a{
		float:right;
		margin-top:10px;
		color:$link-color;
		&.button{
			@include cta-submit;
			margin-left:10px;
			float:right;
			padding:9px;
			font-size:16px;
		}
	}
}

#search-wrapper{
	float:right;
	margin-top:20px;
}

#search-form{
	@include search-gradient;
	@include border-radius(3px,3px,3px,3px);
	padding:10px;
	border:1px solid #c2c2c2;
	width:280px;
	height:30px;
	line-height:30px;
	input[type="search"]{
		@include text-input;
		height:28px;
		width:190px;
		float:left;
		font-size:16px;
	}
	input[type="submit"]{
		@include cta-submit;
		font-size:12px;
		height:29px;
		padding:0 9px;
		float:right;
		opacity:1;
	}
}

#search-examples{
	margin-top:5px;
	font-style:italic;
	font-size:18px;
}

#main-nav{
	clear:both;
	width:100%;
	height:55px;
	ul{
		@include box-shadow;
		@include background-gradient(#6879C1, #425DB0);
		li{
			height:50px;
			line-height:50px;
			padding:0 10px;
			float:left;
			border-left:1px solid #42579E;
			border-right:1px solid #6F80C0;
			position:relative;
			&.first{
				border-left:none;
			}
			&.last{
				border-right:none;
			}
			&.active{
				@include background-gradient(#94BADC, #68A4D1);
			}
			&:hover a{
					@include text-shadow(0,0,#333,3px);
			}
			&:hover .sub{
				left:0px;
			}
			&:hover .sub.right{
				right:0;
				left:auto;
			}
			&:hover .sub a{
				text-shadow:none;
			}
			a{
				display:block;
				color:white;
				@include font-gill;
				font-size:14px;
				text-decoration:none;
				@include transition-03s;
				text-transform:uppercase;
			}
		}
	}
	ul.sub{
		&.right{
			float:right;  
		    margin-right:0px;
		}
		z-index:100;
		position:absolute;
		left:-999em;
		@include background-gradient(#94BADC, #68A4D1);
		li{
			display:block;
			float:none;
			border:none;
			margin:0;
			padding:0;
			height:25px;
			margin:25px 0;
			line-height:1;
			a{
				@include font-garamond;
				font-size:18px;
				text-transform:none;
				font-variant:normal;
			}
		}
		&.column-1{
			width:140px;
			padding:10px 5px 10px 5px;  
		}
		&.column-2{
			width:324px;
			padding:10px 5px 10px 5px;  
		}
		&.column-3{
			width:420px;
			padding:10px 5px 10px 5px;  
		}
		.col1,.col2,.col3{
			display:inline;
			float:left;
			position:relative;
			margin-left:5px;
			margin-right:10px;
		}
		.col1{
			width:130px;
		}
		.col2{
			width:270px;
		}
		.col3{
			width:410px;
		}
	}
}

#breadcrumb{
	padding:10px 0;
	font-size:15px;
	a{
		font-size:15px;
		color:black;
	}
}

#main-wrap{
	width:960px;
	margin:0 auto;
}

#product-box{
	padding:0;
}

.box{
	@include box-shadow;
	background:white;
	padding:0;
	margin-top:20px;
	&.third{
		width:270px;
		float:left;
		margin:20px 20px 0px 0px;
		padding:20px;
		&.mid{
			width:260px;
		}
		&.last{
			margin-right:0px;
		}
		&.has-ribbon{
			position:relative;
			.ribbon{
				width:50px;
				height:75px;
				position:absolute;
				right:0;
				top:-10px;
			}
		}
	}
	&.full{
		margin-top:20px;
		padding:20px;
	}
	h2,h3,h4{
		@include font-gill;
		color:$heading-gray;
		font-weight:bold;
		text-transform:uppercase;
	}
	h3{
		margin-bottom:25px;
		font-size:18px;
	}
	h4{
		color:$orange;
		font-size:14px;
		margin-top:-15px;
	}
}

#social-promo{
	input[type="submit"]{
		@include cta-submit;
		font-size:12px;
		padding:5px 9px;
		vertical-align:top;
	}
	input[type="email"]{
		@include text-input;
		height:20px;
		font-size:16px;
		padding:2px;
	}
	width:960px;
	padding:40px 0;
	background: url(ampersand-big.png) no-repeat center top;
	margin:0 auto;
	overflow:hidden;
	p{
		line-height:1.2;
		margin:10px 0;
		strong{
			color:$orange;
			font-weight:bold;
		}
	}
	em{
		font-size:18px;
		font-variant:small-caps;
		display:block;
		span{
			font-variant:normal;
			font-style:italic;
		}
	}
	.half{
		width:480px;
		float:left;
		text-align:center;
	}
	h3{
		text-transform:uppercase;
		color:$orange;
		font-size:20px;
		@include font-gill;
		font-weight:bold;
		margin-bottom:25px;
	}
}


.hr{
	width:100%;
	height:16px;
	background: url(separator.png) no-repeat center;
	margin:25px 0;
}

#main-footer{
	border-top:2px solid $orange;
	background:#62a6cd;
	width:100%;
}

#main-footer-inner{
	padding-bottom:15px;
	width:958px;
	margin:0 auto;
	overflow:hidden;
	border-left:1px solid #92bbdb;
	div{
		border-left:1px solid #1992bf;
		border-right:1px solid #92bbdb;
		width:256px;
		float:left;
		padding:20px 30px;
		&.last{
			border-right:none;			
		}
		h3{
			@include font-gill;
			font-weight:bold;
			color:white;
			font-size:18px;
			text-transform:uppercase;
		}
		ul{
			display:block;
			float:left;
			margin:15px 15px 15px 0px;
			li{
				line-height:1.2;
				a{
					text-decoration:none;
					color:white;
					&.level-1{
						font-variant:small-caps;
					}
					@include transition-03s;
					&:hover{
						@include text-shadow(0,0,#333,3px);
					}
				}
				
			}
		}
	}
}

.slider.full{
	overflow:hidden;
	img{
		border:5px solid $border-gray;
		width:110px;
		height:110px;
	}
	.arrow{
		margin-top:45px;
	}
	.arrow.left{
		margin-right:20px;
	}
	.carousel{
		float:left;
		width:820px !important;
	}
	li{
		width:120px;
		height:120px;
		margin-right: 20px;
		float:left;
	}
}

#simplemodal-overlay {background-color:#000;}

#simplemodal-container a.modalCloseImg {
	background:url(x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#simplemodal-container{
	background:white;
	padding:20px;
}