@import '_mixins.css.scss';

#cart-table{
	.update{
		display:block;
	}
	input[type="number"]{
		width:55px;
	}
	width:100%;
	thead{
		border-bottom:1px solid $border-gray;
		th{
			height:40px;
			line-height:40px;
		}
		h3{
			float:left;
			margin-bottom:0;
		}
		p{
			float:right;
			a{
				@include small-caps;
			}
		}
	}
	tfoot{
		td{
			width:220px;
			padding:20px 10px;
			vertical-align:middle;
		}
		.total-cell{
			text-align:right;
		}
		span{
			margin:3px 0;
			display:block;
			@include font-gill;
			font-size:18px;
		}
		.total{
			font-size:25px;
			color:$orange;
		}
		.checkout-cell{
			text-align:right;
			input[type="submit"]{
					@include cta-submit;
					font-size:15px;
					padding:12px 28px;
			}
			a{
				display:block;
				margin-top:3px;
				color:$link-color;
			}
		}
	}
	tbody{
		tr{
			border-bottom:1px solid $border-gray;
		}
		td{
			width:220px;
			padding:20px 10px;
			vertical-align:middle;
		}
		.product-cell{
			img{
				width:50px;
				height:50px;
				border:3px solid $border-gray;
				float:left;
				margin-right:10px;
			}
			h6{
				@include font-gill;
				color:$orange;
				margin-bottom:5px;
			}
			.property{
				@include small-caps;
				margin-bottom:10px;
			}
		}
		.price-cell{
			@include font-gill;
			color:#565654;
			font-size:18px;
		}
		.actions-cell{
			text-align:right;
			width:100px;
			.update{
            	@include small-caps;
				margin-right:25px;
				color:$link-color;
			}
		}
	}
}

#faq-links{
	a{
		display:block;
		color:$link-color;
		line-height:1.5;
	}
}