@import '_mixins.css.scss';

#cart{
	margin-top: 120px;

}

#cart-top{
	border-bottom:1px solid $border-gray;
	padding-bottom:20px;
	h3{
		float:left;
		margin-bottom:0;
	}
	.right{
		float:right;
		font-weight:normal;
		a{
			@include small-caps;
			color:$brand-lightblue;
			@include transition-03s;
			&:hover{
				color:$brand-darkblue;
			}
		}
	}
}

#cart-table{
	.update{
		display:block;
	}
	.discount-element{
		margin:5px 0;
		display:block;
	}
	input[type="number"]{
		width:55px;
	}
	
	width:100%;
	
	thead{
		border-bottom:1px solid $border-gray;
		th{
			padding:10px 5px;
			color:#adadad;
			font-weight:normal;
			text-align:left;
			font-size:12px;
		}
	}
	tbody{
		tr{
			border-bottom:1px solid $border-gray;
			
		}
		td{
/*			width:220px;*/
			padding:20px 10px;
			vertical-align:middle;
		}
		.cell-names{
			td{
				color:#A9A9A9;
				font-size:12px;
				padding:10px 5px;
			}
		}
		.sum-price-cell{
			width:130px;
		}
		.multiply-cell,.equals-cell{
			width:10px;
			color:#adadad;
			@include font-gill;
			font-size:16px;
		}
		.quantity-cell{
			width:100px;
		}
		.product-cell{
			width:220px;
			img{
				width:50px;
				height:50px;
				border:3px solid $border-gray;
				float:left;
				margin-right:10px;
			}
			h6{
				@include font-gill;
				color:$brand-darkblue;
				margin-bottom:5px;
			}
		}
		.property-cell{
			p{
				margin:5px 0;
				line-height:1;
				font-size:16px;
			}
		}
		.property{
			@include small-caps;
			font-size:16px;
		}
		
		.price-cell,.sum-price-cell{
			@include font-gill;
			color:#565654;
			font-size:18px;
		}
		.price-cell{
			width:70px
		}
		.actions-cell{
			text-align:center;
			width:5px;
		}
	}
}

#faq-links{
	a{
		display:block;
		color:$link-color;
		line-height:1.5;
	}
}

#cart-bottom{
	margin-top:20px;
	border:1px dashed #aaa;
	background:#eee;
}

#coupon{
	padding:20px;
	float:left;
	width:200px;
	label{
		display:block;
		margin-bottom:5px;
		color:#333;
	}
	input[type="text"]{
		border: 1px solid #C2C2C2;
		margin: 0;
		padding: 0;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		-webkit-appearance: textfield;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		height: 20px;
		font-size: 16px;
		padding: 2px;
		float:left;
		width:100px;
	}
	.button{
		@include button;
		padding:6px;
		float:left;
		margin-left:5px;
	}
}

#total{
	width:558px;
	padding-right:120px;
	float:left;
	text-align:right;
	position:relative;
	span,b{
		font-weight:normal;
		margin:3px;
		@include font-gill;
		font-size:18px;
	}
	b{
		margin-right:20px;
	}
	.total-price{
		font-size:25px;
		color:$brand-orange;
	}
}

#checkout-form{
	margin-top:20px;
	float:right;
	input[type="submit"]{
		@include cta-submit;
		font-size:15px;
		padding:12px 28px;
	}
	a{
		color:$brand-lightblue;
		@include transition-03s;
		&:hover{
			color:$brand-darkblue;
		}
	}
}

#total-price{
	margin-top:10px;
}