@import '_mixins.css.scss';

#sidebar{
	width:235px;
	float:left;
	margin-right:15px;
	.box{
		padding:20px;
	}
}

#category-nav{
	ul{
		margin-bottom:25px;
	}
	li{
		line-height:1.2;
		&.level-1{
			font-variant:small-caps;
		}
		&.level-2{
			padding-left:5px;
		}
		&.level-3{
			padding-left:10px;
		}
		a{
			text-decoration:none;
			color:black;
		}
	}
}

#filter-form{
	fieldset{
		margin-bottom:25px;
	}
	legend{
		font-variant:small-caps;
		display:block;
		padding-bottom:10px;
	}
	.field{
		margin-bottom:3px;
		padding-left:3px;
	}
	input[type="checkbox"]{
		clear:right;
	}
}

#product-list{
	padding:20px;
	width:670px;
	float:left;
}

#action-form-top{
	border-bottom:1px solid $border-gray;
}

#action-form-bottom{
	border-top:1px solid $border-gray;
}

#product-grid{
	overflow:hidden;
	padding:10px 20px;
	.product{
		margin:10px 50px 10px 0px;
		&.last{
			margin-right:0;
		}
		img{
			width:155px;
			height:155px;
			border:10px solid $border-gray;
		}
		p{
			@include font-gill;
		}
		float:left;
		width:175px;
		height:210px;
	}
}