@import '_mixins.css.scss';

#sidebar{
	width:235px;
	float:left;
	margin-right:15px;
	.box{
		padding:20px;
	}
}

#category-nav{
	ul{
		margin-bottom:25px;
	}
	li{
		line-height:1.2;
		&.level-1{
			font-variant:small-caps;
		}
		&.level-2{
			padding-left:5px;
		}
		&.level-3{
			padding-left:10px;
		}
		a{
			text-decoration:none;
			color:black;
		}
	}
}

#filter-form{
	fieldset{
		margin-bottom:25px;
	}
	legend{
		font-variant:small-caps;
		display:block;
		padding-bottom:10px;
	}
	.field{
		margin-bottom:3px;
		padding-left:3px;
	}
	input[type="checkbox"]{
		clear:right;
	}
}

#product-list{
	padding:25px;
	width:660px;
	float:left;
}

#action-form-top{
	border-bottom:1px solid $border-gray;
}

#action-form-bottom{
	border-top:1px solid $border-gray;
}

#product-grid{
	overflow:hidden;
	padding:10px 15px 10px 20px;
	.product{
		float:left;
		width:175px;
		height:230px;
		margin:10px 50px 25px 0px;
		&.last{
			margin:10px 0px 25px 0px;
		}
		.left{
			float:left;
			padding-right:5px;
			width:150px;
		}
		.price{
			font-weight:bold;
		}
		.image{
			overflow:hidden;
			position:relative;
			border:10px solid $border-gray;
			height:155px;
			margin-bottom:10px;
			&:hover img{
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
			}
		}
		img{
			width:155px;
			height:155px;
			@include transition-03s;
		}
		p{
			@include font-gill;
		}
		.quicklook{
			display:block;
			background:url(quicklook.png) no-repeat center;
			width:20px;
			height:10px;
			float:right;
			padding-top:8px;
		}
	}
}

#product-modal-wrap{
	display:none;
}

#product-modal{
	width:800px;
	margin:0 auto;
	.top{
		padding-bottom:10px;
		margin-bottom:10px;
		border-bottom:1px solid $border-gray;
		h3,h4{
			@include font-gill;
			color:$heading-gray;
			font-weight:bold;
			text-transform:uppercase;
			font-size:20px;
		}
		h4{
			font-size:16px;
			color:$orange;
			font-weight:normal;
		}
	}
	.images{
		float:left;
		img{
			width:50px;
			height:50px;
			border:5px solid $border-gray;
			margin:0 10px;
		}
	}
	.discounts{
		float:right;
		padding-right:50px;
		color:$orange;
		li{
			line-height:1.5;
		}
	}
	.short-description{
		margin:10px 0;
	}
	.properties{
		float:left;
		margin:10px 0;
		span{
			font-variant:small-caps;
		}
	}
	.button{
		@include cta-submit;
		float:right;
		padding:9px;
		position:absolute;
		bottom:20px;
		right:20px;
	}
}