@import '_mixins.css.scss';
.prettyLoader{background: url(prettyLoader/prettyLoader.png) top left no-repeat;height:30px;position:absolute;width:30px;z-index:30000;}.prettyLoader img{display:block;margin:7px 0 0 7px;}.pl_ie6{background-image: url(prettyLoader/prettyLoader.gif);}

#sidebar{
	width:235px;
	float:left;
	margin-right:15px;
	.box{
		padding:20px;
	}
}

#category-nav{
	ul{
		margin-bottom:25px;
	}
	li{
		line-height:1.2;
		&.level-1{
			font-variant:small-caps;
		}
		&.level-2{
			padding-left:5px;
		}
		&.level-3{
			padding-left:10px;
		}
		a{
			text-decoration:none;
			color:black;
		}
	}
}

#filter-form{
	fieldset{
		margin-bottom:25px;
	}
	legend{
		font-variant:small-caps;
		display:block;
		font-size:18px;
		padding-bottom:10px;
	}
	.field{
		margin-bottom:3px;
		padding-left:3px;
	}
	input[type="checkbox"]{
		clear:right;
	}
}

#product-list{
	padding:0 25px;
	width:660px;
	float:left;
}

#product-grid{
	overflow:hidden;
	padding:10px 15px 10px 20px;
}


#action-top,#action-bottom{
	height:50px;
	line-height:50px;
	border-bottom:1px solid $border-gray;
	overflow:hidden;
}

#action-bottom{
	border-bottom:none;
	border-top:1px solid $border-gray;
}

.view-all{
	@include button;
	height:15px;
	text-transform:none;
	float: right;
	line-height: 1.2;
	margin: 15px 10px;
	&:hover{
		@include text-shadow(0,0,#333,1px);
	}
}

.order-buttons{
	float:left;
	a{
		color:$link-color;
		padding:0 1px;
		@include transition-03s;
	}
	a:hover{
		color:$link-color-hover;
	}
}

nav.pagination{
	float:right;
	span{
		padding:0 1px;
	}
	span,a{
		color:$link-color;
	}
	a{
		@include transition-03s;
	}
	a:hover{
		color:$link-color-hover;
	}
	.current{
		color:$heading-gray;
	}
}

@import 'quicklook_product.css.scss';