// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_mixins.css.scss';


#main-header{
	background:#aaa;
	-webkit-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	padding-bottom:20px;
}

#slider-wrap{

	padding-top:20px;
	padding-bottom:25px;
}

#slider{
	margin:0 auto;
	width:940px;
	height:415px;
	border:10px solid white;
	-moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
	overflow:hidden;
	.slide{
		width:940px;
		height:415px;
		float:left;
		line-height:415px;
		text-align:center;
		color:white;
		font-size:50px;
		@include font-gill;
		position:relative;
	}
}

#slider-thumbs{
	width:960px;
	margin:0 auto;
	ul{
		overflow:hidden;
		position:relative;
		z-index:3;
		margin-top:-80px;
		li{
			cursor:pointer;
			float:left;
			width:130px;
			height:100px;
			border:5px solid $border-gray;
			margin:0 10px;
			position:relative;
			overflow:hidden;
			@include transition-03s;
			&.active{
				
			}
			a{
				display:block;
				img{
					width:130px;
					height:100px;
					@include transition-03s;
				}
			}
			.mask{
					position: absolute;
				    overflow: hidden;
				    top: 0px;
				    left: 0px;
					width:130px;
					height:100px;
					@include transition-03s;
					opacity:0;
					cursor:pointer;
			}
			h5{
				@include font-gill;
				text-transform:uppercase;
				color:white;
				font-size:16px;
				line-height:100px;
				text-align:center;
				-webkit-transform: translateY(-100px);
				-moz-transform: translateY(-100px);
				-o-transform: translateY(-100px);
				-ms-transform: translateY(-100px);
				transform: translateY(-100px);
				opacity: 0;
				@include transition-03s;
			}
			/*Touchon nem kell hover effect, furán működik*/
			.no-touch &:hover{
				.mask{
					opacity:1;
					-webkit-transition-delay: 0.1s;
					-moz-transition-delay: 0.1s;
					-o-transition-delay: 0.1s;
					-ms-transition-delay: 0.1s;
					transition-delay: 0.1s;
				}
				h5{
					opacity: 1;
					
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					-o-transform: translateY(0px);
					-ms-transform: translateY(0px);
					transform: translateY(0px);
					
					-webkit-transition-delay: 0.1s;
					-moz-transition-delay: 0.1s;
					-o-transition-delay: 0.1s;
					-ms-transition-delay: 0.1s;
					transition-delay: 0.1s;
				}
				img{
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
	}
}

#slide-1{
	background:url(slider_images/uttermost_white_room.png) no-repeat;
}

#slide-2{
	background:url(slider_images/uttermost_kutya.png) no-repeat;
}

#slide-1-thumb .mask{
	background:rgba(170,170,170,0.6);
}

#slide-2-thumb .mask{
	background:rgba(205, 133, 63,0.6);
}

#slide-3-thumb .mask{
	background:rgba(57,20,175,0.6);
}

#slide-4-thumb .mask{
	background:rgba(0,178,92,0.6);
}

#slide-5-thumb .mask{
	background:rgba(42,68,128,0.6);
}

#slide-6-thumb .mask{
	background:rgba(240,108,152,0.6);
}

.plus{
	display:block;
	@include font-gill;
	color:$brand-lightblue;
	background:$brand-darkblue;
	@include border-radius(60px,60px,60px,60px);
	opacity:0.8;
	font-size:45px;
	position:absolute;
	text-decoration:none;
	@include transition-03s;
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	&:hover{
		opacity:1;
	}
}

#slide-1-plus-1{
	top:15px;
	left:300px;
}

#slide-1-plus-2{
	top:150px;
	left:30px;
}

#slide-1-plus-3{
	bottom:60px;
	right:300px;
}

#search-examples{
	@include border-radius(3px,3px,3px,3px);
	background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);  
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF); 
	zoom: 1;
	padding:2px;
}

#main-wrap{
	position:relative;
}

#ribbon{
	margin-top:20px;
	background:url(ribbon.png) no-repeat;
	padding:0 25px;
	width:910px;
	height:45px;
	text-align:center;
	color:white;
	font-size:17px;
	@include small-caps;
	color:white;
	position:relative;
	p{
		height:45px;
		line-height:38px;
	}
	span{
		margin:0 5px;
	}
}

#about-us{
	p{
		.lead{
			@include small-caps;
		}
		margin-top:20px;
	}
	overflow:hidden;
}

.blog-entry{
	float:left;
	width:440px;
	padding-right:20px;
	overflow:hidden;
	img{
		margin:10px 15px 0px 10px;
		border:5px solid $border-blue;
		width:120px;
		height:90px;
		float:left;
	}
	a{
		float:right;
		margin:5px;
	}
}

#promo-boxes{
	width:960px;
	overflow:hidden;
}

#brands a{
	margin:0 25px;
	text-decoration:none;
}











@import 'quicklook_product.css.scss';

/*! fancyBox v2.0.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
	vertical-align: top;
	padding: 0;
	margin: 0;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1002;
}

.fancybox-outer {
	position: relative;
	padding: 0;
	margin: 0;
	background: white;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 1003;	
}

.fancybox-opened .fancybox-outer {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-inner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	outline: none;
	overflow: hidden;
}

.fancybox-error {
	color: #444;
    margin: 0;
    padding: 10px;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 1010;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 1004;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	background: transparent url('blank.gif'); /* helps IE */
	z-index: 1003;
}

.fancybox-prev {
	left: 0;	
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 1003;
	visibility: hidden;
}

.fancybox-prev span {
	left: 20px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 20px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 0;
	overflow: visible;
	visibility: hidden;
}

/* Overlay helper */

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 1001;
	background: #000;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;	
	position: relative;
	text-shadow: none;
	z-index: 1005;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 1003;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
			border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	margin-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;	
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}