// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_mixins.css.scss';


#main-header{
	background:#aaa;
	-webkit-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);
	padding-bottom:20px;
}

#slider-wrap{

	padding-top:20px;
	padding-bottom:25px;
}

#slider{
	margin:0 auto;
	width:940px;
	height:415px;
	border:10px solid white;
	-moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
	overflow:hidden;
	.slide{
		width:940px;
		height:425px;
		float:left;
		line-height:425px;
		text-align:center;
		color:white;
		font-size:50px;
		@include font-gill;
		position:relative;
		&.video{
			background:black;
		}
	}
}

.arrow_box {
	position: relative;
	background: #E95321;
	border: 4px solid #E95321;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-bottom-color: #E95321;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-bottom-color: #E95321;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}

#slider-thumbs{
	width:960px;
	margin:0 auto;
	ul{
		position:relative;
		z-index:3;
		margin-top:-80px;
		li{
			cursor:pointer;
			float:left;
			width:130px;
			height:100px;
			border:5px solid $border-gray;
			margin:0 10px;
			position:relative;
			&.active{
				border:5px solid $brand-orange;
				@extend .arrow_box;
			}
			a{
				display:block;
				img{
					width:130px;
					height:100px;
				}
			}
			.mask{
				position: absolute;
			    overflow: hidden;
			    top: 0px;
			    left: 0px;
				width:130px;
				height:100px;
				@include transition-03s;
				opacity:0;
				cursor:pointer;
				-webkit-backface-visibility: hidden;  
			}
			h5{
				@include font-gill;
				text-transform:uppercase;
				color:white;
				font-size:16px;
				line-height:100px;
				text-align:center;
				opacity: 0;
				@include transition-03s;
				-webkit-backface-visibility: hidden;  
			}
			/*Touchon nem kell hover effect, furán működik*/
			.no-touch &:hover,.no-touch &:focus,.no-touch &.active{
				.mask{
					opacity:1;
					-webkit-transition-delay: 0.1s;
					-moz-transition-delay: 0.1s;
					-o-transition-delay: 0.1s;
					-ms-transition-delay: 0.1s;
					transition-delay: 0.1s;
					cursor:pointer;
				}
				h5{
					opacity:1;
					-webkit-transition-delay: 0.3s;
					-moz-transition-delay: 0.3s;
					-o-transition-delay: 0.3s;
					-ms-transition-delay: 0.3s;
					transition-delay: 0.3s;
				}
				img{
				
				}
			}
		}
	}
}

#slide-1{
	background:url(slider_images/uttermost_white_room.png) no-repeat;
}

#slide-2{
	background:url(slider_images/uttermost_kutya.png) no-repeat;
}

#slide-1-thumb .mask{
	background:rgba(170,170,170,0.6);
}

#slide-2-thumb .mask{
	background:rgba(205, 133, 63,0.6);
}

#slide-3-thumb .mask{
	background:rgba(57,20,175,0.6);
}

#slide-4-thumb .mask{
	background:rgba(0,178,92,0.6);
}

#slide-5-thumb .mask{
	background:rgba(42,68,128,0.6);
}

#slide-6-thumb .mask{
	background:rgba(240,108,152,0.6);
}

.plus{
	display:block;
	@include font-gill;
	color:white;
	background:black;
	@include border-radius(60px,60px,60px,60px);
	opacity:0.6;
	font-size:26px;
	position:absolute;
	text-decoration:none;
	@include transition-03s;
	width:26px;
	height:26px;
	text-align:center;
	line-height:26px;
	//-webkit-transform-style: preserve-3d;
	//-webkit-backface-visibility: hidden;
	//-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;    
	&:hover{
		opacity:1;
	}
}

#slide-1-plus-1{
	top:15px;
	left:300px;
}

#slide-1-plus-2{
	top:150px;
	left:30px;
}

#slide-1-plus-3{
	bottom:60px;
	right:300px;
}

#main-wrap{
	position:relative;
}

#ribbon{
	margin-top:40px;
	background:url(ribbon_new.png) no-repeat;
	width:1040px;
	height:50px;
	text-align:center;
	color:white;
	font-size:18px;
	@include small-caps;
	color:white;
	position:relative;
	margin-bottom:-75px;
	margin-left:-30px;
	p{
		height:45px;
		line-height:38px;
	}
	span{
		margin:0 5px;
	}
}

#newest-products{
	padding-top:60px;
}

#about-us{
	p{
		.lead{
			@include small-caps;
		}
		margin-top:20px;
	}
	overflow:hidden;
}

.blog-entry{
	float:left;
	width:440px;
	padding-right:20px;
	overflow:hidden;
	img{
		margin:10px 15px 0px 10px;
		border:5px solid $border-blue;
		width:120px;
		height:90px;
		float:left;
	}
	a{
		color:$brand-lightblue;
		float:right;
		margin:5px;
		&:hover{
			color:$brand-darkblue;
		}
	}
}

#promo-boxes{
	width:960px;
	overflow:hidden;
}

#brands a{
	margin:0 25px;
	text-decoration:none;
}


@import 'fancybox.css.scss';

@import 'quicklook_product.css.scss';
