@import '_mixins.css.scss';

.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;
}

.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
}
.zoomWrapper{
	position:relative;
    z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/
.zoomThumbActive{
	border:5px solid $orange !important;
}
	
#product-box{
	margin-top:0;
	padding:10px;
}

#product-inner{
	border:1px solid $border-gray;
	width:938px;
	overflow:hidden;
}

#picture-wrap{
	width:440px;
	height:300px;
	padding:10px;
	border-right:1px solid $border-gray;
	border-bottom:1px solid $border-gray;
}

#current-picture{
	width:440px;
	height:300px;
}

.arrow-up {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid black;
}

#picture-list{
	overflow:hidden;
	width:460px;
	height:100px;
	border-right:1px solid $border-gray;
	a{
		margin:20px 10px;
		display:block;
		float:left;
		border:5px solid $border-gray;
		height:50px;
		width:50px;
	}
	img{
		width:50px;
		height:50px;
	}
}

#social-buttons{
	border-top:1px solid $border-gray;
	border-right:1px solid $border-gray;
	width:450px;
	height:75px;
	line-height:75px;
	padding-left:10px;
	div{
		float:left;
		margin:0 5px;
	}
	.fb-like iframe{
		width:133px !important;
	}
	.tw-like{
		top: 4px;
		position: relative;
	}
}

#left-side,#right-side{
	float:left;
}

#left-side{
	width:460px
}

#right-side{
	width:478px;
}

#product-title{
	width:477px;
	height:49px;
	line-height:20px;
	border-bottom:1px solid $border-gray;
	h2{
		float:left;
		font-size:23px;
		padding:9px 10px 0 20px;
		.sku{
			font-size:12px;
			display:block;
			@include font-garamond;
			text-transform:lowercase;
		}
	}
	img{
		float:right;
		height:42px;
		margin:4px 4px 0px 4px;
	}
}

#info-box{
	height:79px;
	border-bottom:1px solid $border-gray;
	overflow:hidden;
	.third{
		width:138px;
		height:59px;
		border-right:1px solid $border-gray;
		float:left;
		padding:10px;
		&.last{
			border:none;
			width:139px;
		}
	}
}

#price p{
	line-height:1.4;
	padding-left:10px;
	margin-top:5px;
	&.list-price span{
		text-decoration:line-through;
	}
	&.discount-price span{
		color:$orange;
	}
}

#properties-box{
	.left{
		float:left;
	}
	.right{
		float:right;
		div{
			@include border-radius(3px,3px,3px,3px);
			background:#faded3;
			padding:4px;			
		}
	}
	position:relative;
	height:150px;
	border-bottom:1px solid $border-gray;
	padding:20px;
	p{
		margin-bottom:12px;
		label{
			float:left;
			width:90px;
			margin-right:60px;
		}
		input[type="number"]{
			width:35px;
		}
	}
	.links{
		position:absolute;
		bottom:20px;
		a{
			color:$link-color;
		}
	}
	input[type="submit"]{
		@include cta-submit;
		font-size:18px;
		padding:9px;
	}
}

#product-form{
	overflow:hidden;
}

#add-to-cart{
	float:right;
}

#short-description-box{
	height:100px;
	padding:30px 10px 20px 20px;
}

#specifications{
	.ribbon{
		background:url(ribbon-spec.png) no-repeat;
	}
	p{
		display:block;
		span{
			font-variant:small-caps;
			font-size:17px;
		}
	}
}

#expert-advice{
	.ribbon{
		background:url(ribbon-advice.png) no-repeat;
	}
}

#try-it{
	.ribbon{
		background:url(ribbon-loc.png) no-repeat;
	}
	.address{
		margin-top:10px;
	}
	strong{
		font-size:15px;
		margin-bottom:15px;
		font-style:italic;
		@include font-gill;
	}
	p{
		line-height:1.5;
		font-size:14px;
	}
	a{
		float:left;
		margin:0px 10px 0px 0px;
		img{
			width:80px;
			height:65px;
			border:5px solid $border-gray;
		}
	}
}

#about-designer,#about-manufacturer{
	p{
	  line-height:1.5;
	  margin:15px 0;
	}
	img{
		float:right;
		margin:20px;
		border:5px solid $border-gray;
	}
}

#related-products{
	
}