<section class="box half" id="about-manufacturer">
		<h3><%= t('.about_the_brand') %></h3>
		<h4><%= brand.name %></h4>
		<%= image_tag(brand.image_file.to_s) %>
		<p><%= brand.description %></p>
</section>