<section class="box half" id="about-manufacturer">
		<h3><%= t('.about_the_brand') %></h3>
		<h4><%= manufacturer.name %></h4>
		<%= image_tag manufacturer.manufacturer_photos.first.image_file, :title => manufacturer.manufacturer_photos.first.alt, :alt => manufacturer.manufacturer_photos.first.alt if manufacturer.manufacturer_photos.any? %>
		<%= manufacturer.description %>
</section>