<p class="price">
<% if product.price != productPrice(product.id)%>
	<span class="current-price"><%= productPrice(product.id) %> Ft</span> <span class="old-price"><%= product.price %></span>
<% else %>
	<span><%= product.price %> Ft</span>
<% end %>
</p>
