<section class="box full">
	<h2>Hamarosan nyitunk</h2>
	<p><span class="lead">Lorem ipsum dolor sit amet</span> consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor</p>
	<div class="hr"></div>
	<div class="clearfix">
		<div id="soon-slider">
			<img src="http://placekitten.com/400/300" alt="" />
			<img src="http://placekitten.com/g/400/300" alt="" />
		</div>
		<div id="soon-newsletter">
			<p>Iratkozzon fel <em>hírlvelünkre</em> és legyen öné egy <strong>2.000 Ft </strong> értékű kupon, amit <strong>bármire</strong> elkölthet hamarosan nyíló online bútorboltunkban!*</p>
			<form action="#">
				<input type="email" name="coming-email" id="coming-email" placeholder="Email címem" />
				<input type="submit" value="Feliratkozom" />
			</form>
		</div>
	</div>
	<p class="small-text"><small>* A kedvezményre jogosító kódot emailben küldjük el. Minden feliratkozó csak 1 kupont válthat be, a kuponok nem összevonhatóak. A webáruház nyitásáról email értesítőt küldünk.</small></p>
</section>
