<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @custom_category.name %>
</p>


<%= link_to 'Edit', edit_custom_category_path(@custom_category) %> |
<%= link_to 'Back', custom_categories_path %>
