<!DOCTYPE html>
<html>
<head>
  <title>Madearthome</title>
  <%= stylesheet_link_tag    "application", controller_name %>
  <%= javascript_include_tag "application", controller_name %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
